In [1]:
# Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submission = pd.read_csv("submission.csv")

In [3]:
# For individual countries
def list_max_cases(country):
    count_it = train[train['Country/Region'] == country].groupby('Date')['ConfirmedCases'].sum().max() 
    return int(count_it)
max_confirmed = []
countries = []
for country in train['Country/Region'].unique():
    max_confirmed.append(list_max_cases(country))
    countries.append(country)

In [4]:
countries = pd.DataFrame(countries)
max_confirmed = pd.DataFrame(max_confirmed)

In [5]:
# Max Count of Infections in countries
df = pd.concat([countries, max_confirmed], axis = 1)

In [6]:
df.columns = ['Country', 'Max Infected']

In [7]:
pd.set_option('display.max_rows', 163)

df.sort_values(by = 'Max Infected', ascending = False, inplace = True)

In [12]:
df.reset_index(drop = 'index', inplace = True)

In [13]:
# Lets work with top 10 countries
df = df[0:10]

In [14]:
df

          Country  Max Infected
0           China         79243
1           Italy         69176
2              US         53490
3           Spain         39885
4         Germany         32986
5            Iran         24811
6          France         20062
7     Switzerland          9877
8    Korea, South          9037
9  United Kingdom          8135